@page
@model AboutModel
@{
    ViewData["Title"] = "About page";
}

<div class="text-center">
    <h1 class="display-4">@ViewData["Title"]</h1>
    <p>This .NET 6.0 sample shows MVC, WebAPI, and Razor Pages.</p>
</div>
